html {
    background-color: #d9a7d9;
    background-color: #b14497;
    background-color: #9b2643;
    background-color: #f100f1;
    color: #fffff0;
    color: #fcfcd8;
}

body {
    accent: #d05340; 
    text-color: #fcfcd8;
    background-color: #300801; 
    accent-dark: #8d1f0e; 
    accent-light: #ee7c6b;
}


